body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 12px 0;
}

.path {
  margin-bottom: 16px;
}

.path-item {
  font-size: 18px;
  text-decoration: none;
}

.path-item + .path-item:before {
  content: " / ";
}
